* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    list-style: none;
}

ul li {
    padding: 5px;
    background: #f4f4f4;
    margin: 5px 0;
}

header {
    background: #1e1e1e;
    padding: 1rem;
    text-align: center;
    color: #d4d4d4;
    text-transform: uppercase;
}

.container {
    margin: auto;
    width: 500px;
    overflow: auto;
    padding: 50px 30px;
}

#user-form {
    padding: 30px;
    background: #f4f4f4;
}

#user-form h1 {
    display: block;
    margin-bottom: 20px;
}

#user-form label {
    display: block;
}

#user-form input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#user-form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button {    
    width: 100%;
    padding: 10px 15px;
    border: 0;
    background: #1e1e1e;
    color: #fff;
    border-radius: 5px;
    margin: 5px 0;
}

.button:hover {
    background: #444;
}

.bg-sotet {
    background: #333;
    color: #fff;
}

.error {
    background: #f00;
    color: #fff;
    padding: 5px;
    margin: 5px;
}
